#section_do_menu_retratio_2{
width: 1920px;
height: 488px;
background-color: rgb(82, 211, 211);
position: absolute;
top: 40px;
left: -8.98%;
display: none;
}

.links_do_menu2:hover + #section_do_menu_retratio_2 {

    display: block;
}