.total {
    text-align: center;
    margin-top: 20px;
}

#total-price {
    font-weight: bold;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.cart-item img {
    width: 201px; /* Alterado para tamanho menor */
    height: auto;
    margin-right: 10px;
}

.cart-item h3 {
    position: relative;
    top: -20px;
}

.cart-item p {
    position: relative;
    left: 400px;
}

.cart-item h2 {
    position: relative;
    left: 20px;
}

button {
    position: relative;
    left: 400px;
    width: 24px;
    height: 24px;
    border: none;
    background-color: white;
    background-image: url('../../IMG/sacola/produtos/x_para_remover_refeito.png');
}