#boxG{
    background-color: #f7f7f7;
    max-width: 979px;
    width: 100%;
    padding: 50px;
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Lucida Sans Unicode', Arial, sans-serif;
}

#Superior{
    display: flex;
    justify-content: space-between;
}

#Mid{
    display: flex;
    margin-top: 25px;
}

.inputs{
    width: 979px;
    height: 36px;
    margin-top: 18px;
    font-size: 16px;
    border-width: 1px;
    color: #999999;
    padding: 2px 2px 2px 16px;
}

#rr{
    margin-left: 8px;
    margin-right: 286px;
    font-size: 14px;
}
#pp{
    margin-right: 330px;
    font-size: 13px;
}
#tt{
    font-size: 13px;
}

#adress{
    margin-top: 25px;
}
