#pix{
    font-family: 'Lucida Sans Unicode', Arial, sans-serif;
    display: flex;
    margin-top: 25px;
}

#paypay{
    margin-right: 410px;
}

#ppagg{
    margin-top: 15px;
    display: flex;
}

.pay_{
    margin-left: 220px;
}

#forma{
    margin-top: 10px;
}