/* section */
.section_bazar_zara_yupiee_kids {
    position: relative;
    top: 400px;
    right: 6px;
    height: 850px;
    overflow: hidden;
}

/*parte escrita bazar zara yupieee kids*/
/*article*/
.parte_escrita_bazar_zar_yupiee_kids_article {
    position: relative;
    left: 1160px;
    top: -270px;
}


/*img*/
.parte_escrita_bazar_yupiee_kids_img {
    width: 280px;
}


