/*section*/
.h_pequeno_principe_section {
    position: relative;
    top: 1080px;

}

/*parte escrita*/
/*article*/
.parte_escrita_h_pequeno_principe_article {
    display: flex;
    justify-content: center;
    transform: rotate(30deg);
    position: relative;
    top: 300px;
}

/*img*/
.parte_escrita_h_pequeno_principe_img {
    
    width: 260px;
}

/*parte do paragrafo*/
/*article*/
.parte_do_paragrafo_cat_down_article {
    display: flex;
    justify-content: center;
    position: relative;
    top: 120px;

}

/*paragrafo*/
.parte_do_paragrafo_cat_down_paragrafo {
    width: 875px;
    font-size: 15px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}