/* parte do menu*/

*{
    margin: 0px;
    padding: 0px ;
}

#menu_principal {
    z-index: 1;
    position: fixed;
    top: 30px;
    right: px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 118.5px;
    z-index: 1;
    width: 1522px;
    
}

#div_menu_principal{
    width: 1330px;
    position: relative;
    display: flex;
    column-gap: 17px;
    position: relative;
    left: 148px;
    top: 71px;

}

#div_menu_principal > a {
    font-family: 'Lucida Sans Unicode', Arial, sans-serif;
    position: relative;
    text-decoration: none;
    font-size: 14px;
    color: black;
    left: 30px;
    font-weight: 600;
}

#div_menu_principal > a:hover{
    text-decoration: underline;
    color: rgb(31, 28, 28);
}

/*imagem da zip do menu*/

#menu_imagem_zip {
    z-index: 1;
    position: fixed;
    width: 296px;;
    top: 1px;
    left: 9px;
    
    
}





/* imagem da barra de pesquisa e etc */

#imagem_da_barra_de_pesquisa_e_etc {
    z-index: 1;
    position: fixed;
    display: flex ;
    column-gap: 16px;
    right: 42px;
    top: 98px;
    
}

/* imagem da barra de pesquisa */

#imagem_da_barra_de_pesquisa{
    transform: rotate(315deg);
    position: relative;
    top: -3.4px;
    width: 19px;
    height: 30px;
}

/* imagem do icone de favorito */

#imagem_do_icone_de_favorito{
    position: relative;
    top: 0px;
    width: 23px;
    height: 22px;
}

/* imagem do icone de pessoa */

#imagem_do_icone_de_pessoa {
    position: relative;
    top: -2px;
    width: 20px;
    height: 24px;
}

/* imagem do icone da conta */

#imagem_do_icone_da_conta {
    position: relative;
    top: -1px;
    width: 30px;
    height: 24px;
}